<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>GoTravel</ion-title>
  </ion-toolbar>
</ion-header> -->


  
<ion-content class="searchbar-results">
  <div class="cabecera">

    <div text-center>
      <ion-icon class="logo" name="bus" color="light"></ion-icon>
    </div>
    <h1 text-center>MI VIAJE</h1>
    <h2>¿Dónde quieres ir?</h2>
  </div>
  <ion-card>
    <div class="autocomplete">
      <ion-searchbar search-icon="locate" [(ngModel)]="origen" (ionInput)="getItems($event,'origin')"
        (ionCancel)="showItemsOrigin = !showItemsOrigin" animated="true" placeholder="Origen"
        debounce=500>
      </ion-searchbar>
      <ion-list class="searchbar-results" *ngIf="showItemsOrigin">
        <ion-item *ngFor="let item of items" (click)="originSelected(item)">
          {{item}}
        </ion-item>
      </ion-list>
    <!-- </div> -->

    <!-- <div class="autocomplete"> -->
      <ion-searchbar search-icon="pin" [(ngModel)]="destino" (ionInput)="getItems($event,'destino')"
        (ionCancel)="showItemsDestino = !showItemsDestino"  animated="true" placeholder="Destino"
        debounce=500>
       
      </ion-searchbar>
      <ion-list class="searchbar-results" *ngIf="showItemsDestino">
        <ion-item *ngFor="let item of items" (click)="destinoSelected(item)">
          {{item}}
        </ion-item>
      </ion-list>
    </div>

    <ion-item>
      <ion-label>Ida</ion-label>
      <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
      <ion-icon name="arrow-forward" slot="start"></ion-icon>
      <ion-datetime [(ngModel)]="dateDeparture" (ionCancel)="clearDateDeparture()" cancel-text="Cancelar" done-text="Aceptar"
        [monthNames]="months"
        display-format="DD de MMMM" picker-format="YYYY/MMMM/DD"></ion-datetime>
    </ion-item>  

    <ion-item>
      <ion-label>Vuelta</ion-label>
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-datetime [(ngModel)]="dateReturn" (ionCancel)="clearDateReturn()" cancel-text="Cancelar" done-text="Aceptar"
        [monthNames]="months"
        display-format="DD de MMMM" picker-format="YYYY-MMMM-DD"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">{{totalPassengers}}</ion-label>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input (click)="presentModal()"></ion-input>
    </ion-item>
    <!-- TODO código promocional -->
    <!-- <ion-item text-center>
        <ion-label (click)="addCodigo()">Código promocional</ion-label>
      </ion-item> -->
    <br><br>

    <ion-button shape="round" color="danger">Búsqueda</ion-button>
  </ion-card>



    <!-- <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="schedule">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
            <ion-badge>6</ion-badge>
          </ion-tab-button>
      
          <ion-tab-button tab="speakers">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Speakers</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
  -->

 </ion-content>