.cabecera{
    width: 100%;
    height: 200px;
    // background-color: var(--ion-color-primary);
    background-image: linear-gradient(to bottom left, #fa6b6b -3% ,#253064 );
    padding-left:  15px;   

    
  h1 {
    color: #f4f5f8;
    margin-top: 0px !important; 
    padding-top: 20px;
    // padding-left:  15px;

   }
   p {
    padding-right: 15px;
    text-align: justify;     
     color: #f4f5f8;
    //  font-size: 21px;
    //  padding-left: 16px;
   }

}
