<ion-content>

  <div class="cabecera">
    <div text-left>
      <h1>Tu Perfil</h1>
      <!-- <p>Utiliza tu cuenta, para reservar con más rapidez,
        recibir notificaciones en tiempo real de tus viajes y muchas cosas más.</p> -->
    </div>
    <ion-button shape="round" color="danger">Iniciar Sesión</ion-button>
  </div>
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>Datos del pasajero</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="options"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="star"></ion-icon>
      <ion-label>Novedades</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="help-circle"></ion-icon>
      <ion-label>Atención al cliente</ion-label>
    </ion-item>
    
    
    <!-- <ion-item>
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>H3 Primary Title</h3>
          </ion-text>
          <p>Paragraph line 1</p>
          <ion-text color="secondary">
            <p>Paragraph line 2 secondary</p>
          </ion-text>
        </ion-label>
      </ion-item>  -->   

    </ion-list>

</ion-content>