<ion-tabs>
    <ion-tab-bar slot="busqueda">
      <ion-tab-button tab="busqueda">
        <ion-icon name="search"></ion-icon>
        <!-- <ion-label>Schedule</ion-label> -->     
      </ion-tab-button>   

      <ion-tab-button tab="reservas">
          <a class="icon-ticket" [routerLink]="['/tabs/reservas']" [routerLinkActive]="'is-active'"></a>  
        </ion-tab-button>        
      
      <ion-tab-button tab="perfil" >
        <ion-icon name="person" ></ion-icon>      
      </ion-tab-button>  
    </ion-tab-bar>
  </ion-tabs>