<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ dataSearch.origen }} - {{ dataSearch.destino }}</ion-title>
    <ion-label>
      <ion-text color="secondary" text-left>
        <p>
          {{ dataSearch.dateDeparture | date }} - <ion-icon name="person"></ion-icon>
          {{ dataSearch.total_passenger }}
        </p>
      </ion-text>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment value="hora">
    <ion-segment-button selected value="hora">
      <ion-label>Hora salida</ion-label>
    </ion-segment-button>
    <ion-segment-button value="barato">
      <ion-label>Mas barato</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tiempo">
      <ion-label>Más rápido</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let ruta of horarios">
    <ion-grid (click)="selectRuta(ruta)">
      <ion-row>
        <ion-col size="3">
          <img class="size-logo" src="{{ruta.empresa?.logo}}" />
        </ion-col>
        <ion-col size="6">
         
          
              <ion-text class="ion-text-center">
                <div> <span color="primary" class="salida">{{ ruta.horaSalida }}</span> <span> -{{ ruta.duracion }}- </span> <span class="llegada" color="primary">{{ ruta.horaLlegada }}</span></div>
              </ion-text>
             
              <!-- <ion-text color="secondary">
                <p>{{ ruta.origen }} - {{ ruta.dirOrigen }}</p>
              </ion-text> -->
      
            
          
        </ion-col>

     
   
        <ion-col size="3" text-right>
            <span>$ {{ ruta.precio * dataSearch.total_passenger }}</span>

          <!-- <ion-button expand="full" color="danger">$ {{ ruta.precio * dataSearch.total_passenger }}</ion-button> -->
        </ion-col>
      </ion-row>

  
    </ion-grid>

    <div class="footerCard">
      <ion-grid>
        <ion-row>
          <ion-col>      
              {{ ruta.paradas }} paradas  
          </ion-col>

          <ion-col>
                  Total: <ion-icon name="person"></ion-icon> {{ dataSearch.total_passenger }}
          </ion-col>
          <ion-col text-right>
            <ion-icon name="information-circle"></ion-icon>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <div text-center *ngIf="!horarios">
    <p class="searching-svg"></p>
    <ion-text>
      <h1 color="primary">No hemos encontrado ningún bus para está ruta</h1>
      <p color="secondary">
        Pero puedes elegir otro origen y destino
      </p>
    </ion-text>
    <ion-button [routerLink]="['/']" color="danger">Buscar otro trayecto</ion-button>
  </div>
</ion-content>
