// .size-logo{
//     width: 80px;
//     height: auto;
// }

img.size-logo {
    width: 50px;
    height: 45px;
    // padding-left: 10px;
    border-radius: 100px;
    // margin-left: 15%
   
  }

.footerCard{
    border-top: 0.3px solid #aab2c9; 
}


.searching-svg{

    display: inline-block;
    background-color: var(--ion-color-primary);    
    -webkit-mask-image: url('../../../assets/icon/searching.svg');
    mask-image: url('../../../assets/icon/searching.svg');
    width: 125px !important;
    height: 125px !important;
    // text-align: center;
    margin-top: 100px;
}

span.salida {
    font-size: 1.5em;
}

span.llegada {
    font-size: 1.5em;
}