<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{data.origen}} - {{data.destino}}</ion-title>
    <ion-label text-wrap>
      <ion-text color="secondary">
        <p> {{data.dateDeparture | date}}, {{data.total_passenger}}</p>
      </ion-text>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment value="hora">
    <ion-segment-button selected value="hora">
      <ion-label>Hora salida</ion-label>
    </ion-segment-button>
    <ion-segment-button value="barato">
      <ion-label>Mas barato</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tiempo">
      <ion-label>Más rápido</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let item of horariosDisponibles">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="size-logo" src="../../../assets/img/logos/cariamanga.jpg">
          </ion-col>
          <ion-col>
            <ion-label>              
              <ion-label text-left>
                <ion-text color="dark">
                  <h2>{{item.horaSalida}}</h2>
                </ion-text>
                <ion-text  color="secondary">
                  <p>{{item.origen}}</p>
                </ion-text>
              </ion-label>

            </ion-label>
          </ion-col>
          <ion-col>
              <ion-label>              
                <ion-label text-left>
                  <ion-text color="dark">
                    <h2>{{item.horaLlegada}}</h2>
                  </ion-text>
                  <ion-text color="secondary">
                    <p>{{item.destino}}</p>
                  </ion-text>
                </ion-label>
  
              </ion-label>
            </ion-col>
          <ion-col>
            <p><b>{{item.precio}}</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
  </ion-card>

  <div text-center *ngIf="horariosDisponibles.length <= 1"> 

    <!-- <img src="assets/icon/searching.svg" alt=""> -->
    <p class="searching-svg"></p>
    

 

    <ion-text>
      <h1 color="primary">No hemos encontrado ningún bus para está ruta</h1>
    <p color="secondary">Pero puedes elegir otro origen y destino que hacemos </p>
    
    </ion-text>

    <ion-button color="danger">Buscar otro trayecto</ion-button>

  </div>

 
</ion-content>