.cabecera{
    width: 100%;
    height: 200px;
    background-color: var(--ion-color-primary);
    padding-left:  15px;   

    h1 {
        color: #f4f5f8;
        margin-top: 0px !important; 
        padding-top: 20px;
        // padding-left:  15px;
    
       }
  }

  .no-proximos-svg{
    display: inline-block;
    background-color: var(--ion-color-primary);    
    -webkit-mask-image: url('../../../assets/icon/wallet.svg');
    mask-image: url('../../../assets/icon/wallet.svg');
    width: 85px !important;
    height: 85px !important;
    margin-top: 100px;
  }

  .archivados-svg{
    display: inline-block;
    background-color: var(--ion-color-primary);    
    -webkit-mask-image: url('../../../assets/icon/tickets.svg');
    mask-image: url('../../../assets/icon/tickets.svg');
    width: 85px !important;
    height: 85px !important;
    margin-top: 100px;

  }