<!-- <ion-header>
  <ion-toolbar>
    <ion-title>popoverSearch</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-list>
    <ion-item>
        <ion-grid>
            <ion-row justify-content-end>
              <ion-col size="6" align-self-start>
                <ion-label>Adulto</ion-label>
              </ion-col>
              <ion-col align-self-end>
                <ion-label
                  ><ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                  0 <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon
                ></ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row justify-content-end>
          <ion-col size="6" align-self-start>
            <ion-label>Mayor</ion-label>
          </ion-col>
          <ion-col align-self-end>
            <ion-label
              ><ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
              0 <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon
            ></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row justify-content-end>
          <ion-col size="6" align-self-start>
            <ion-label>Niño</ion-label>
          </ion-col>
          <ion-col align-self-end>
            <ion-label
              ><ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
              0 <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon
            ></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
